body{
    color: white;
    font-family: "Roboto", sans-serif;
    background-image: url("images/shayan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* START NAVIGATION BAR */

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0,0.760);
    padding: 5px 20px;
    top: 0;
}

#nav ul{
    list-style-type: none;
    padding: 0px;
}

#nav ul li{
    display: inline;
    padding: 10px 20px;
}

#nav ul li a{
    color: white;
    text-decoration: none;
}

#nav ul li a:hover{
    color:#1985a1 ;
}

#phonenumber{
    display: flex;
    padding: 15px 30px;

}

#phonenumber p{
    font-size: 14px;
    margin: 0px;
}

#phonenumber i {
    padding-right: 8px ;
}

/* END NAVIGATION BAR */

/* ---------- ABOUT PAGE ---------- */

/* START TITLE SECTION */


#about-content{
    margin: 100px 100px;
    width: 33%;
    padding: 10px;
}

#about{
    font-size:2em;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: #1985a1;
    margin-bottom: 0;
}

#gmail{
    margin-top: 5px;
}

#explanation{
    margin-top: 100px;
}

/* END TITLE SECTION */

/* START FOOTER SECTION */

footer{
    width:100%;
    position: fixed;   
    bottom: 0px;
    padding: 30px 100px;
    background-color: rgb(0, 0, 0,0.760);
}

footer p {
    display: inline;
 }

.line{
    color: #1985a1;
}

/* END FOOTER SECTION */
