body{
    color: white;
    font-family: "Roboto", sans-serif;
    background-image: url("images/home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* START NAVIGATION BAR */

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0,0.760);
    padding: 5px 20px;
    top: 0;
}

#nav ul{
    list-style-type: none;
    padding: 0px;
}

#nav ul li{
    display: inline;
    padding: 10px 20px;
}

#nav ul li a{
    color: white;
    text-decoration: none;
}

#nav ul li a:hover{
    color:#1985a1 ;

}

#phonenumber{
    display: flex;
    padding: 15px 30px;

}

#phonenumber p{
    font-size: 14px;
    margin: 0px;
}

#phonenumber i {
    padding-right: 8px ;
}

/* END NAVIGATION BAR */




/* ---------- HOME PAGE ---------- */

/* START INTRODUCTION SECTION */

#home-content{
    margin: 150px 50px;
    width: 500px;
    padding: 10px;
}

#firstname, #lastname, #job{
    margin:0;
    padding:0;
}

#firstname{
    font-size:4em;
    height: 45px;
}

#lastname{
    font-size:4em;
    font-weight: 900;
    height: 77px;
}

#job{
    letter-spacing:1.01em;
    padding-left: 4px;
}

/* END INTRODUCTION SECTION */

.button-container{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.button{
    font-size:20px;
    padding: 15px 60px;
    border: 2px solid white;
    background-color: #007bff00;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}

.left-button{
    margin-right: 45px;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

/* END INTRODUCTION SECTION */


/* START FOOTER SECTION */

footer {
    width:100%;
    position: fixed;   
    bottom: 0px;
    color: #fff; 
    padding: 30px 100px;
}
footer i{
    font-size: 1.5em;
    margin-right: 10px;
}

/* END FOOTER SECTION */




